
:host ::ng-deep .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

::ng-deep .p-datatable.darkMode {
    background-color: #1e1e1e;
    color: #eee;
  }
  
  ::ng-deep .p-datatable.darkMode .p-datatable-thead > tr > th {
    background-color: #2a2a2a;
    color: #ddd;
  }
  
  ::ng-deep .p-datatable.darkMode .p-datatable-tbody > tr > td {
    background-color: #252525;
    border-color: #333;
  }
  