<h2>Forgot Password</h2>
<div class="form-container mt-3 position-relative">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" novalidate class="d-flex-center">
        <div class="form-container">
            <div>
                <mat-form-field class="w-75">
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngIf="!forgotPasswordForm.get('email')?.errors?.required && (forgotPasswordForm.get('email')?.errors?.pattern)">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error
                      *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched) && forgotPasswordForm.get('email')?.errors?.required">
                      Email is required
                    </mat-error>
                  </mat-form-field>
            </div>
            <div class="submit-container d-flex flex-column align-items-center mt-2">
                <button [disabled]="!forgotPasswordForm.valid" mat-stroked-button color="primary" mat-button>Send E-mail</button>
            </div>
        </div>
    </form>
    <div class="d-flex flex-row justify-content-start align-items-center mt-2">
        <button mat-stroked-button color="secondary" mat-button (click)="backToSignIn()">Back</button>
    </div>
    <mat-spinner *ngIf="_loadingService.isLoading$ | async"></mat-spinner>
</div>