<div class="container-fluid p-0 h-100 d-flex flex-column">
    <app-header>
        <button mat-icon-button aria-label="Icon-button with menu icon" (click)="drawer.toggle()">
            <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
            <mat-icon *ngIf="drawer.opened">close</mat-icon>
        </button>
    </app-header>
    <div class="container-fluid main-container p-0">
        <mat-drawer-container class="drawer-container h-100" autosize>
            <mat-drawer #drawer class="drawer-sidenav p-3" mode="side" drawer>
                <app-sidenav></app-sidenav>
            </mat-drawer>
            <mat-drawer #rightSideNav class="drawer-sidenav p-3" mode="over" position="end">
                <div class="container">
                    <ng-template [cdkPortalOutlet]="_rightSideComponent$ | async"></ng-template>
                </div>
            </mat-drawer>
            <!-- <mat-sidenav-container class="example-container">
                <mat-sidenav #rightSideNav="matSidenav" mode="over" position="end">
                    <div class="container">
                        <ng-template [cdkPortalOutlet]="_rightSideComponent$ | async"></ng-template>
                    </div>
                </mat-sidenav>
            </mat-sidenav-container> -->
            <router-outlet></router-outlet>

        </mat-drawer-container>
    </div>
</div>