.container div {
    transition:all .3s ease-in-out;
}

.stepper-header {
    display: flex;
    align-items: center;
  }
  
  .step-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 12px;
    border-bottom: 2px solid #ccc;
    transition: all 0.3s;
  }
  
  .step-item.active {
    font-weight: bold;
    border-bottom: 2px solid #3f51b5; /* primary color */
  }
  
  .step-item.completed {
    color: green;
  }
  
  .step-index {
    font-size: 18px;
    font-weight: bold;
  }
  