table,
mat-paginator {
    width: 100%;
    margin: 0 auto;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }

.table-header {
    background-color: #ddd;
}

.form-field {
    margin-right: 10px !important;
}

td,
th {
    text-align: center !important;
    vertical-align: middle !important;
}

::ng-deep .mat-sort-header-container {
    justify-content: center !important;
}

::ng-deep .mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
    opacity: 0.54 !important;
    transform: translateY(0px) !important;
}

.reset-btn {
    padding-bottom: 1.34375em;
}

.blue-fill {
    color: #6c757d;
}

.red-fill {
    color: #df0000;
}