.custom-btn-container {
    margin-right: 10px;

    .custom-hover-btn {
        border: 1px solid #ddd !important;
        background: none !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: all 100ms;
        width: 100%;
        position: relative;
        padding: 0px 10px;
        margin: 0;

        @media(min-width:768px) {

            &:hover,
            &:visited,
            &:focus,
            &:active,
            &:target,
            &.activeBtn {
                transition: all 100ms;
                // width: 100px;
                // width: 100%;
                max-width: 100% !important;
                // justify-content: space-between;

                .btn-txt {
                    transition: opacity 100ms, width 100ms linear 100ms, font-size 100ms linear 100ms;
                    opacity: 1;
                    font-size: 20px;
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }

        mat-icon {
            overflow: visible;
            padding: 0;
            margin: 0 5px;
        }

        .btn-txt {
            transition: all 100ms;
            opacity: 0;
            font-size: 0;
            // width: 0;
            max-width: 0;
            margin: 0;
        }



    }
}