.bg-container {
    background-image: url('/assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.form-main {
    width: 80%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}