.mat-toolbar {
    flex-wrap: wrap;
    height: auto;
    min-height: 64px;

    @media(max-width:576px) {
        flex-direction: column !important;
    }
}

@media(min-width:768px) {
    .cdk-overlay-connected-position-bounding-box {
        margin-left: 80px !important;
    }
}



.mat-progress-spinner {
    top: 50%;
    left: calc(50% - 50px);
    position: absolute !important;
}

.mat-icon:hover {
    cursor: pointer !important;
}

.mat-menu-panel {
    min-width: 50px !important;
}

.main-container {
    flex: 1 1 auto;
}

.active {
    border-left: 4px solid #009688 !important;
}

.darkMode {

    .active,
    .activebutton,
    .table-header {
        background-color: #7d6363 !important;

    }

    .mat-icon {
        color: #fff;
    }
}

.example-spacer {
    flex: 1 1 auto !important;
}

.mat-menu-content:not(:empty) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.mat-card-header-text {
    max-width: 200px !important;
    width: 200px;
}

.mat-card-title {
    text-overflow: ellipsis !important;
    overflow-x: hidden !important;
    line-height: 25px !important;
}

.mat-icon {
    // margin-right: 10px;
    // padding: 0px;
}

.mat-drawer-content {
    // transition: all .2s ease-in-out;
    transition: all .2s linear !important;

}

.mat-drawer {


    width: 200px !important;
    max-width: 200px !important;
    // left: 0 !important;
    // transition: all .2s linear !important;

    .header-logo {
        max-width: 100% !important;
        // height: auto !important;
        height: 100% !important;
    }

    .header-brand {
        width: -webkit-fill-available;
        font-size: 20px;
        text-align: center;
        font-weight: 500;
    }

    // -webkit-transition: all .5s ease-in-out;
    // -moz-transition: all .5s ease-in-out;
    // -o-transition: all .5s ease-in-out;
    // transition: all .5s ease-in-out;

    &.resized {
        // transition: all .3s linear !important;
        display: inline-block;
        width: 50px !important;
        max-width: 50px !important;
        overflow-x: hidden !important;
        padding: 0 !important;
        // transition: all .1s ease-in-out;
        // left: 0;

        .menu-txt {
            transition: all .2s ease-in-out;
            display: none;
        }

        .header-logo {
            max-width: 100% !important;
            height: auto !important;

        }

        .mat-drawer-inner-container {
            overflow-x: hidden !important;
        }

        @media(min-width:768px) {
            &:hover {
                cursor: pointer;
                width: 200px !important;
                max-width: 200px !important;

                .menu-txt {
                    display: inline-block !important;
                }

                .header-logo {
                    height: 100% !important;
                }

            }
        }


    }
}

.drawer-sidenav {
    // padding-right: 10px !important;
    // padding-top: 20px;
}


