.example-spacer {
  flex: 1 1 auto;
}


::ng-deep .mat-menu-content:not(:empty) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

::ng-deep .mat-menu-panel {
  min-width: 50px !important;
}

.activebutton {
  background-color: #cfd8dc;
  // color: white;
}