<mat-toolbar>
    <ng-content></ng-content>
    <span routerLink="/dashboard">{{'dashboard.header.title' | translate}}</span>
    <span class="example-spacer"></span>

    <div class="flex-stretch"></div>
    <mat-icon class="mr-8">brightness_5</mat-icon>
    <mat-slide-toggle [checked]="darkMode" (change)="toggleDarkMode($event)" class="mr-8">
    </mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>


    <button mat-icon-button [matMenuTriggerFor]="lang">
        <mat-icon>language</mat-icon>
    </button>

    <mat-menu #lang="matMenu">
        <ng-container *ngFor="let lang of langs | keyvalue">
            <button mat-menu-item (click)="switchLang($event)"
                [ngClass]=" lang.key === currentLang ? 'active' : ''" [value]="lang.key">
                {{lang.key}}
            </button>
        </ng-container>

    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <mat-card class="example-card w-100">
            <mat-card-header class="w-100">
                <div mat-card-avatar class="example-header-image">
                    <img class="img img-fluid" src="assets/profile-img.png">
                </div>
                <mat-card-title class="w-100">
                    {{authUser.email}}</mat-card-title>
                <mat-card-subtitle>{{authUser.username}}</mat-card-subtitle>
              </mat-card-header>
            <mat-card-actions class="d-flex flex-column stify-content-center">
                <button mat-button class="favorite-icon" (click)="profileSidenav()" aria-label="Icon-button with heart icon">
                    {{'dashboard.header.profile.profile' | translate}}
                    <mat-icon>profile</mat-icon>
                </button>
                <button mat-button class="favorite-icon" (click)="logout()" aria-label="Icon-button with heart icon">
                    {{'dashboard.header.profile.logout' | translate}}
                    <mat-icon>logout</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-menu>
</mat-toolbar>